__pycache__/
*.pyc
*.pyo
*.pyd
*.so

.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

results/
ppdata/

*.aux
*.log
*.out
*.toc
*.pdf
report/figures/*.png
report/figures/*.pdf
